{% extends "home/home.html" %}
{% load static %}

{% block content %}

<div class="home-banner-section overflow-hidden">
    <div class="banner-container-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mb-md-0 mb-4 text-md-left text-center">
                    <div class="home-banner-text" data-aos="fade-up">
                        <h5 class="text-white artificial-text">Cyber Security Services for</h5>
                        <h1 class="text-white"> Organizations with Critical Infrastructure
                        </h1>
                        <p class="text-white banner-paragraph">
                            Digitalwithus is a leading cybersecurity firm dedicated to protecting businesses from digital threats. We offer cutting-edge solutions, expert assessments, and 24/7 support to ensure your organization remains secure in an ever-evolving cyber landscape.</p>
                        <div class="banner-btn discover-btn-banner">
                            <a href="#services" class="text-decoration-none">Discover More</a>
                            <!-- <a href="" class="text-decoration-none play-button"><i class="fa-solid fa-play"></i></a> -->
                        </div>
                    </div>
                    <div class="social-icons" data-aos="zoom-out-left">
                        <ul class="list-unstyled">
                            {% comment %} <li><a class="text-decoration-none" href="#"><i class="fa-regular fa-horizontal-rule"></i></a></li>
                            <li><a href="" class="text-decoration-none"><i class="fa-brands fa-facebook-f social-networks"></i></a></li>
                            <li><a href="" class="text-decoration-none"><i class="fa-brands fa-twitter social-networks"></i></a></li>
                            <li><a href="" class="text-decoration-none"><i class="fa-brands fa-linkedin-in social-networks"></i></a></li> {% endcomment %}
                            <!-- <li><a href="" class="text-decoration-none"><i class="fa-brands fa-pinterest-p social-networks"></i></a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="banner-img-content position-relative" data-aos="fade-up">
                        <figure class="banner-img mb-0 wow slideInRight" data-wow-duration="2s">
                            <img class="img-fluid banner-img-width" style="height:400px;" src="{% static "home/assets/images/home2.png" %}" alt="Life GIF" />
                        </figure>
                    </div>
                </div>
            </div>
            <!-- CARDS-SECTION -->
        </div>
    </div>
</div>

<!-- ABOUT-US_SECTION -->
<section class="about-us-section-start">
<div class="about-right-icon position-relative" data-aos="fade-right"
data-aos-offset="300"
data-aos-easing="ease-in-sine">
    <figure class="whyus-icon"><img src=" {% static "home/assets/images/about-us-section-right-icon.png" %}" alt=""
            class="img-fluid">
    </figure>
</div>
<div class="container" id="aboutus">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center"  data-aos="fade-up"
            data-aos-anchor-placement="top-bottom">Why Choose Us</h3>
                <p class="text-center">Choose Digitalwithus for our expert team, tailored security solutions, and proven track record. We prioritize your protection with 24/7 support, proactive threat management, and a commitment to keeping your business safe in an increasingly complex digital world.
                </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="about-us-content" data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom">
                <div class="icons-rounded-box">
                    <figure class="mb-0"><img src="{% static "home/assets/images/about-round-icon1.png" %}" alt="">
                    </figure>
                </div>
                <h4>Security Services</h4>
                <p class="security-services-p" style="height: 110px;">Digitalwithus offers comprehensive security services, including threat detection, incident response, and continuous monitoring to safeguard your digital assets.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="about-us-content" data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom">
                <div class="icons-rounded-box">
                    <figure class="mb-0 icon-color"><img src="{% static "home/assets/images/about-round-icon2.png" %}" alt="">
                    </figure>
                </div>
                <!-- #changes -->
                <h4>Customer Focused</h4>
                <p class="security-services-p" style="height: 110px;">We’re passionate about providing you with our pro-active security services. At Digitalwithus, our customer-centric approach means your goals are our mission, and your success is our greatest achievement.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="about-us-content" data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom">
                <div class="icons-rounded-box">
                    <figure class="mb-0"><img src="{% static "home/assets/images/about-round-icon3.png" %}" alt="">
                    </figure>
                </div>
                <h4>Industry Certified</h4>
                <p class="security-services-p" style="height: 110px;">Our team is industry-certified, bringing recognized expertise and proven methodologies to deliver the highest standards of cybersecurity protection.</p>
            </div>
        </div>
    </div>
</div>
</section>
<!-- CYBER-SECURITY-SECTION -->
<section class="cyber-security-section overflow-hidden">
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="cyber-content-img" data-aos="fade-up-left">
                <figure class="mb-0"><img src="{% static "home/assets/images/secure.png" %}" alt=""
                        class="cyber-security-provider-img">
                </figure>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="cyber-content" data-aos="fade-up-right">
                <h3>Advanced <span class="cyber-text">Cyber Security</span> Provider</h3>
                <p class="security-services-p">Digitalwithus is an advanced cybersecurity provider dedicated to delivering top-tier protection in today’s complex digital landscape. Our expert team leverages cutting-edge technology and innovative strategies to identify, mitigate, and prevent cyber threats before they impact your business. We offer a full spectrum of services, including real-time threat monitoring, sophisticated incident response, and proactive vulnerability assessments. </p>
                <div class="cyber-contact-btn">
                    <a href="{% url "contactus" %}" class="text-decoration-none">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- CYBER-SECURITY-SOLUTION -->
<section class="cyber-security-section cyber-security-section2 overflow-hidden">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="cyber-content" data-aos="fade-up-left">
                <h3>Providing Best <span class="cyber-text">Cyber Security </span>Solutions</h3>
                <p class="security-services-p">At Digitalwithus, we pride ourselves on providing the best cybersecurity solutions tailored to meet your unique business needs. Our comprehensive services include advanced threat detection, proactive vulnerability management, and 24/7 monitoring. By combining cutting-edge technology with industry expertise, we ensure that your organization is protected against evolving cyber threats, allowing you to operate securely and confidently.</p>
                <div class="cyber-contact-btn">
                    <a href="#contactus" class="text-decoration-none">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 text-md-right text-center">
            <div class="cyber-content-img-right" data-aos="fade-up-right">
                <figure class="mb-0"><img src="{% static "home/assets/images/secure.png" %}" style="width: 404; height: 544px;" alt="" class="">
                </figure>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ABOUT-US_SECTION2 -->
<section class="about-us-section-start about-us-section-2 overflow-hidden">
    <div class="about-right-icon position-relative">
        <figure class="about2-left-img"><img src="{% static "home/assets/images/about-section2-left-img.png" %}" alt=""
                class="img-fluid">
        </figure>
    </div>
    <div class="container" id="services">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center offer-section-title"  data-aos="flip-up">What We Offer</h3>
                <p class="text-center"  data-aos="fade-left">Digitalwithus offers cutting-edge cybersecurity services, including threat detection, incident response, compliance auditing, and continuous protection, tailored to your needs.</p>
            </div>
        </div>
        <div class="row">
            {% for service in services %}
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-us-content about-margin-bottom" data-aos="fade-up">
                        <div class="icons-rounded-box">
                        {% if service.icon %}
                            <figure class="mb-0">
                                <img src="{{ service.icon.url }}" alt="{{ service.name }}">
                            </figure>
                        {% else %}
                            <figure class="mb-0">
                                <img src="{% static 'home/assets/images/default-icon.png' %}" alt="Default Icon">  <!-- Fallback icon -->
                            </figure>
                        {% endif %}
                        </div>
                        <h4>{{ service.name }}</h4>
                        <p class="security-services-p">{{ service.short_description }}</p>
                        <a href="#" class="text-decoration-none" data-toggle="modal" data-target="#serviceModal{{ service.id }}">Learn More
                            <span class="forword-arrow"><i class="fa fa-angle-right"></i></span>
                        </a>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row"> <!-- Close and open new row after every 3rd item -->
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <div class="home-header-section">
        <header class="header">
        </header>
        <!-- BANNER-SECTION -->
        <div class="home-banner-section overflow-hidden">
            <div class="banner-container-box">
                <div class="container" id="contactus">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-md-0 mb-4  text-center">
                            <div class="about-banner-text" data-aos="fade-up">
                                <h1 class="text-white about-h1"  data-aos="zoom-out-left">Contact Us</h1>
                                <p class="text-white banner-paragraph"  data-aos="zoom-out-right">Get in touch with Digitalwithus for expert cybersecurity solutions. We're here to help with consultations, inquiries, or urgent support—24/7.</p>
                                <!-- <div class="about-btn">
                                    <a href="contact.html" class="text-decoration-none">Home <span class="about-text-color"> /
                                            Contact</span></a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-md-0 mb-4">
                            <div class="about-us-section-page contact-us-section" data-aos="fade-up">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <h3 class="contact-us-title" data-aos="fade-up-left">Drop Us A Message For Any Query</h3>
                                        <p data-aos="fade-up-right">Contact Digitalwithus for expert cybersecurity support, consultations, or inquiries. We're available 24/7 to assist you.</p>
                                        <ul class="list-unstyled about-us-list">
                                        <li class="contact-li"><div class="icons-rounded-box-contact">
                                        <figure class="mb-0"><img src="{% static "home/assets/images/contact-icon1.png" %}"  alt=""></figure></div>
                                        <div class="contact-content">
                                                <span class="contact-title">Where We Are:</span>
                                                <span class="contact-parah">London, Uk</span></div></li>

                                        <li class="contact-li"><div class="icons-rounded-box-contact">
                                            <figure class="mb-0"><img src="{% static "home/assets/images/contact-icon2.png" %}" alt="">
                                            </figure>
                                        </div>
                                        <div class="contact-content">
                                            <span class="contact-title">Phone:</span>
                                            <span class="contact-parah">+44 7466818309</span>
                                        </div></li>
                                        <li class="contact-li"><div class="icons-rounded-box-contact">
                                            <figure class="mb-0"><img src="{% static "home/assets/images/contact-icon3.png" %}" alt="">
                                            </figure>
                                        </div><div class="contact-content">
                                            <span class="contact-title">Email:</span>
                                            <span class="contact-parah">info@Digitalwithus.com</span>
                                        </div></li>
                                        </ul>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="about-section-form">
                                            <form method="POST" action="">
                                                {% csrf_token %}
                                                <div class="form-group contact-form-margin">
                                                    <input type="text" class="form-control input-text"
                                                        id="validationCustom01" placeholder="Your Name" required="" name="name">
                                                </div>
                                                <div class="form-group contact-form-margin">
                                                    <input type="text" class="form-control input-text"
                                                        id="validationCustom02" placeholder="Your Email" required="" name="email">
                                                </div>
                                                <div class="form-group contact-form-margin">
                                                    <input type="text" class="form-control input-text"
                                                        id="validationCustom03" placeholder="Subject" required="" name="subject">
                                                </div>
                                                <div class="form-group contact-form-margin-text-area">
                                                    <textarea name="message" id="message" cols="10" rows="10" class="form-control" placeholder="Your Message"></textarea>
                                                </div>
                                                <div class="contact-section-btn text-center">
                                                    <button type="submit" class="btn btn-primary hover-effect">Send Message</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Accordian-Section -->
<section class="cyber-security-section accordian-section overflow-hidden">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="faq-content-img" data-aos="fade-right">
                <figure class="mb-0"><img src="{% static "home/assets/images/faq.png" %}"  style="width: 404; height: 544px;" alt="" class="">
                </figure>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="cyber-content accordian-text" data-aos="fade-up">
                <h3>General Questions Frequently Asked Questions?</h3>
                <div class="accordian-inner">
                    <div id="accordion1">
                        <div class="accordion-card">
                            <div class="" id="headingFour">
                                <a href="#" class="btn btn-link text-decoration-none"
                                    data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                    <h5 class="faq-btn-text">How to contact for Assessment?</h5>
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour">
                                <div class="card-body">
                                    <p class="text-left accordian-text-color">
                                        Fill up the contact form and our team will reach out to you or directly email us at "info@Digitalwithus.com".
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="cyber-content accordian-text">
                <div class="accordian-inner">
                    <div id="accordion2">
                        <div class="accordion-card">
                            <div class="" id="headingFive">
                                <a href="#" class="btn btn-link collapsed text-decoration-none"
                                    data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                    aria-controls="collapseFive">
                                    <h5 class="faq-btn-text">Do You Provide Staff Augmentation?</h5>
                                </a>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
                                <div class="card-body">
                                    <p class="text-left accordian-text-color">
                                        Yes, we provide skilled industry certified staff for your security needs.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3 -->
            <div class="cyber-content accordian-text">
                <div class="accordian-inner">
                    <div id="accordion3">
                        <div class="accordion-card">
                            <div class="" id="headingSix">
                                <a href="#" class="btn btn-link collapsed text-decoration-none"
                                    data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                                    aria-controls="collapseSix">
                                    <h5 class="faq-btn-text">What kind of VAPT Services do you provide?</h5>
                                </a>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
                                <div class="card-body">
                                    <p class="text-left accordian-text-color">
                                        Web Application, Mobile Application, Desktop Application, Network, Cloud, IoT, API, and more.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 4 -->
            <div class="cyber-content accordian-text">
                <div class="accordian-inner">
                    <div id="accordion4">
                        <div class="accordion-card">
                            <div class="" id="headingSeven">
                                <a href="#" class="btn btn-link collapsed text-decoration-none"
                                    data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
                                    aria-controls="collapseSeven">
                                    <h5 class="faq-btn-text">Do you provide SOC Services?</h5>
                                </a>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven">
                                <div class="card-body">
                                    <p class="text-left accordian-text-color">
                                        Yes, we provide managed SOC services with 27/7 support and on-premise to cloud Infrastructure visibility.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


{% endblock content %}