{% extends "home/home.html" %}
{% load static %}
{% block content %}

<div class="home-banner-section overflow-hidden">
    <div class="banner-container-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mb-md-0 mb-4 text-md-left text-center">
                    <div class="home-banner-text" data-aos="fade-up">
                        <h5 class="text-white artificial-text">{{ service.name }}</h5>
                        <h1 class="text-white">{{ service.short_description }}</h1>
                        <div class="service-description" style="color: white;">
                            {{ service.description|safe }}
                        </div>
                        <div class="banner-btn discover-btn-banner">
                            <a href="{% url "services" %}" class="text-decoration-none">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="banner-img-content position-relative" data-aos="fade-up">
                        <figure class="banner-img mb-0 wow slideInRight" data-wow-duration="2s">
                            {% if service.banner_image %}
                                <img class="img-fluid banner-img-width" src="{{ service.banner_image.url }}" alt="{{ service.name }}">
                            {% else %}
                                <img class="img-fluid banner-img-width" src="{% static 'home/assets/images/default-banner.png' %}" alt="Default Image">
                            {% endif %}
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
